/*extra header*/
#page-mod-page-view .page-context-header, #page-mod-feedback-view .page-context-header, #page-mod-appointment-view .page-context-header, #page-mod-assignment-view .page-context-header, #page-mod-book-view .page-context-header, #page-mod-chat-view .page-context-header, #page-mod-choice-view .page-context-header, #page-mod-database-view .page-context-header, #page-mod-forum-view .page-context-header, #page-mod-glossary-view .page-context-header, #page-mod-coursecertificate-view .page-context-header, #page-mod-scorm-view .page-context-header, #page-mod-feedback-complete .page-context-header, #page-mod-lesson-view .page-context-header, #page-mod-feedback-complete .page-context-header{
  display: none;
}
/*not all activities included above; will need adding*/

/*complete button*/
.activity-header .completion-info button[data-toggletype="manual:mark-done"]{
  width: 70px;
  height: auto;
  white-space: normal!important;
  position: fixed;
  right: 1.2%;
  bottom: 25%;
}

/*.activity-header .completion-info{
  position: fixed;
  right: 1.2%;
  bottom: 25%;
}
.activity-header .completion-info button{
  width: 70px;
  height: auto;
  white-space: normal!important;
}
.activity-header .completion-info .automatic-completion-conditions .badge{
  width: 80px;
  white-space: break-spaces;
  padding-top: 0px;
}*/

/*navigation buttons*/
.activity-navigation .urlselect{
  display:none;
}
.activity-navigation #next-activity-link::before{
   content:"NEXT: ";
}
.activity-navigation #next-activity-link{
   background: #b2bce0;
   color:#000000;
}
.activity-navigation #next-activity-link:hover{
  text-decoration:none;
/*option 1: lift +shadow*/
  /*box-shadow: 0 0.5em 0.5em -0.6em rgba(0, 0, 0, 0.6);
  transform: translateY(-0.2em);*/
}

/*SCORM*/
#page-mod-scorm-player #scormpage #tocbox #scorm_layout{
  border: solid #ececec;
}
#page-mod-scorm-player  .btn-secondary[title="Exit activity"]{
  background: #ffffff;
  border-color: #b2bce0;
  border-width: 2px;
}

/*More scorm, super messy and rough*/

#page-mod-scorm-player {overflow-y:hidden;}

#page-mod-scorm-player {
#scormpage #scorm_object {
 width: 100%;
 height: 100%;
}
.drawer.drawer-left,  .header-maxwidth, .secondary-navigation, .navbar.fixed-top, #page-wrapper #page-footer, .modal-backdrop.show, .drawer-toggler, h2 { display: none;}
#page.drawers.show-drawer-left {margin-left: 0px;}
#page.drawers {height: auto !important;}
#page {margin-top: 0px !important; padding: 5px;}
#page.drawers {padding: 0px;}
#page.drawers .main-inner {padding:0px; margin-top:0px; margin-bottom: 0px}
#region-main-box {margin-top: 5px}
#scorm_layout {height: 80vh !important; margin-bottom: 20px}
.pb-3, .py-3 {padding-bottom: 0px !important}
.mt-5, .my-5 { margin-top: 0px !important; margin-bottom: 0px !important}}

/*homepage*/
#page-site-index .industry-card .card-img-overlay{
  padding:0;
}
#page-site-index .industry-card .card-img-overlay p {
   background: #0d5cab;
   padding: 15px 20px 20px 15px;
   /*border-top: solid #f15c22 6px;*/
   border-bottom: solid #f15c22 6px;
   align-self:self-end!important;
   text-transform: none;
   font-size: 28px;
}
#page-site-index .industry-card a:not([class]):focus{
  background-color: transparent;
  box-shadow:none;
}
#page-site-index .carousel-caption p{
  padding:20px;
  background: #132e4d;
text-transform: none;
	font-size: 36px;
	max-width: unset;
}

#page-site-index .text-uppercase {
	text-transform: none !important;
}


/*resume button*/
.btn-info{
  background: #132e4d;
}
.btn-info:hover, .btn-info:focus{
  background: #0d5cab;
  color:white; 
}

/*Catalog categories*/
#page-course-index-category { 

.gridview .card-block {
  padding: 0px;
}

.gridview .category-rating-container {
  background: #132e4d;
  padding: 5px;
}

.gridview .course-category {
  padding-top: 5px;
  padding-left:5px;
}

.category-rating-container .text-muted {
  color: #ffffff !important;
}

.gridview .card-block .float-right {
  padding-right: 5px;
  margin-top:2px;
}

.gridview .empty-stars {
  color: #ffffff;
}

.gridview .course-rating .fa.fa-star {
  color: #ffffff;
}

.gridview .card-title {
  padding: 10px;
}

.gridview .course-details .text-muted {
  color: #000000;
}}

.enrolmenticons{
  display:none;
}

/*Page*/
.modified {display: none;}

/*Course editing menu disable for learners*/
#page-course-view-topics:not(.editing) .secondary-navigation{
  display:none;
}

/*remove activity icons and labels*/
#page-course-view-topics .activity-item .activity-instance .activitytitle .activityiconcontainer, #page-course-view-topics .activity-item .activity-instance .activitytitle .text-uppercase{
  display:none;
}

/*reduce size of breadcrumb*/
#page-navbar .breadcrumb .breadcrumb-item{
  font-size: calc(0.8rem + 0.045vw);
}

/*hidden sections*/
.course-section.hidden .sectionname, .course-section.hidden .icons-collapse-expand{
  color:grey;
}
.course-section.hidden{
  background: #ececec;
  border: 2px solid #f0ad4e;
}
.course-section.hidden:last-child:not(.section-summary){
  border-bottom: 2px solid #f0ad4e;
}
