/*----variables and reusable classes----*/
/*background colors*/
$light-grey: #e9ecef;
$lightest-grey: #f1f4f5;
$lightest-blue: #DCE3F4;
/*brand colors*/
$internews-blue: #0d5cab;
$midnight-blue: #132E4D;
$light-blue: #b2bce0;
$yellow: #fcb134;
$orange:#f15c22;
$light-green:#6fb43f;
.card-shadow{
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.08);
  box-shadow: 0 0 6px rgba(0,0,0,.08);
}

/*-----General----*/
ul.select-options li:empty {
  display: none;
}
.drawer{
  background-color: $lightest-grey;
}
body:not(#page-mod-quiz-attempt):not(#page-mod-quiz-summary):not(#page-mod-quiz-review):not(.editing){ 
  .drawer-right-toggle{
    display:none;
  }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
 /* font-family: 'Outfit', sans-serif;*/
  font-family: 'Kumbh Sans', sans-serif;
}
h4, .h4{
  font-weight: 550;
}
h5, .h5, h6, .h6{
  font-weight: 500;
}

.highlightbox{
  background: $lightest-grey;
  padding:1rem; 
  margin:0;
  max-width: 100%;
  margin: 0 auto;
  border-radius:0;
}
.infobox{
  @extend .highlightbox;
  background:$lightest-blue;
  color: $midnight-blue;
  display:flex;
  flex-direction:row;
  &::before{
    @extend .fa;
    content: "\f05a";
    font-size: 1.2rem;
    margin-right: 10px;
  }
  p:last-child{
    margin-bottom:0;
  }
  h2, h3, h4, h6{
    @extend .h5;
  }
}
.hive-box{
  @extend .infobox;
  &::before{
    content:"\2B22";
    color: $yellow;
  }
}

/*-----C4L-----*/
.c4l-allpurposecard{
  @extend .highlightbox;
}
.c4l-learningoutcomes{
  @extend .highlightbox;
  .c4l-learningoutcomes-title{
    top: 0px;
    left: 0px;
    filter:none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    background-color: $internews-blue;
    &::before{
      display:none;
    }
  }
  .c4l-learningoutcomes-list li::before{
    background-image:none;
    content:"\f0da";
    @extend .fa;
    color: $internews-blue;
  }
}
.c4l-tip{
  @extend .infobox;
  border:none;
  &::after{
    display:none;
  }
}
.c4l-readingcontext{
  @extend .hive-box;
  display:block;
  box-shadow:none;
  font-family: inherit;
  p, .c4l-readingcontext-caption{
    font-size: inherit;
  }
  &::before{
    float:left;
  }
  >p, >h2, >h3, >h4, >h5, >h6, >div{
    margin-left:2rem;
  }
}
.c4l-example{
  @extend .highlightbox;
  box-shadow:none;
  background: #fff;
  border: 1px solid $light-blue;
  max-width:85%;
  h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    padding-right: 2rem;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: .5px;
    color: $midnight-blue;
    margin: 0 0 24px 0;
    text-transform: uppercase;
    font-family: inherit;
    display: inline-block;
    border-bottom: 2px solid $midnight-blue;
  }
}
.c4l-quote{
  .c4l-quote-text p{
    &::before{
      @extend .fa;
      content: "\f10d";
      color:$light-blue;
    }
    &::after{
      @extend .fa;
      content: "\f10e";
      color:$light-blue;
    }
  }
  .c4l-quote-line{
    display:none;
  }
}


/*-----Footer-----*/
.footer-content-popover{
  display:none;
}
#page-site-index, #page-course-index-category, #page-my-index, #page-admin-tool-custompage{
  .btn-footer-popover{
    display:none;
  }
  .footer-content-popover{
    display:block;
    font-size: x-small;
    background: $light-grey;
    .footer-section{
      padding-bottom: 0.5rem!important;
      &:not(.border-bottom){
        display:none;
      }
      p {
        margin-top: 0.5rem;
        margin-bottom: 0.1rem;
      }
      .icon{
        font-size:x-small;
      }
      div{
        display:none;
        &:last-child, &.tool_dataprivacy{
          display:block;
        }
      }
    }
  }
}
#page-course-index-category, #page-my-index, #page-admin-tool-custompage{
  .footer-content-popover{
    margin-right:-3rem;
    margin-left:-3rem;
  }
}


/*-----Front-page-----*/
/*variable class*/
.course-card{
    .card{
      @extend .card-shadow;
      .img-container .card-image {
        aspect-ratio:3/2;
        object-fit:cover;
      }
      .card-block {
        padding:0.5rem;
        height:auto;
        h5.card-title{
          margin:0;
        }
        .text-center:not(.card-title){
          display:none;
        }
      }
      .category-rating-container{
        display:none;
      }
      .length{
        color:#6a737b;
        .fa-clock-o{
          margin-right:2px;
        }
      }
    }
}
/*editor label only*/
#page-site-index:not(.editing) .admin-label{
  display:none;
}
#page-site-index.editing .admin-label{
  display: block;
  background: red;
  color: white;
  padding:3px;
}

#page-site-index{
  /*if using full catalog cards*/
  .cardlistCards{
    @extend .catalog-cards;
    .gridview .card-block p.card-text.float-left{
         max-width:90%!important;
    }
  }
  .industry-card {
    .card-img-overlay{
      padding:0;
      p {
        background: $internews-blue;
        padding: 15px 20px 20px 15px;
        border-bottom: solid #f15c22 6px;
        align-self:self-end!important;
        text-transform: none;
        font-size: 28px;
      }
    }
    a:not([class]):focus{
      background-color: transparent;
      box-shadow:none;
    }
  }
  .carousel-caption{
    width:100%;
    left:0;
    right:0;
    p{
      @extend .h1;
      padding:20px;
      background: $midnight-blue;
      color:#fff;
      text-transform: none;
      font-size: 2.5rem;
      max-width: unset;
    }
  }
  .text-uppercase {
    text-transform: none !important;
  }
  .mandatory-items, .featured-items{
    @extend .course-card;
  }
 /*editor view*/
  &.editing{
    .label.modtype_label{
      .activity-item{
        border: 1px solid #000000;
      }
    }
  }
}

/*----Front page new---*/
#page-site-index{
  .btn-special{
    border: 1px solid #000;
    background-color: #FFF;
    padding: 15px 17px 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    color: #000;
    box-shadow: -4px 4px 0 0 #0d5cab;
    border-radius: 0;
    &:hover{
      @extend .little-hop;
    }
  }
  .flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
  }
  .carousel-caption{
    width:45%;
    text-align:left;
    p{
      background:transparent;
      text-shadow:1px 1px 6px rgba(0,0,0,.9);
    }
  }
  .public-home, .staff-home, .ejn-home{
    text-align:left;
    img.monks{
      width:330px;
      height:auto;
     z-index:10;
    }
    .option{
      width:23%;
      min-width:193px;
      padding:1rem;
      margin:0.5rem;
      background: #b2bce0;
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      .btn-primary{
        @extend .btn-special;
      }
      &.opt-highlight{
        background:#0d5cab;
        color:#fff;
        img{
          width: 100%;
          height:auto;
          margin-bottom: 0.3rem;
          &:hover{
            @extend .little-shake;
          }
          &.plant:hover{
            @extend .rustle;
          }
        }
        i{
          font-size: 1.5rem;
          text-align:right;
        }
        &:hover{
          text-decoration:none;
          img{
            margin-bottom:0;
          }
          i{
            font-size: 1.8rem;
          }
        }
      }
    }
    .home-article{
      margin:3rem 0;
      background:#e9ecef;
      padding:2rem 1rem;
      .more-courses{
        text-align: center;
        min-width: 200px;
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center
      }
    }
    .c4l-quote{
      width:40%;
      margin:0 auto;
    }
    .theme-list{
      @extend .flex-row;
      list-style:none;
      li{
        padding-right:1rem;
      }
    }
    .app-note{
      font-size:small;
      text-align: right;
    }
  }
}
@media only screen and (max-width: 768px) {
  #page-site-index .carousel-caption.d-none{
   display:block!important;
  }
}

/*Animations*/
.little-shake {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  30% { transform: translate(-1px, 0px) rotate(1deg); }
  50% { transform: translate(0px, 0px) rotate(1deg); }
  70% { transform: translate(-1px, -2px) rotate(-1deg); }
  100% { transform: translate(1px, 0px) rotate(0deg); }
}
.little-hop {
  animation: hop 0.2s;
}
@keyframes hop {
  0% { transform: translate(0px, 0px); }
  40% { transform: translate(0px, -2px); }
  100% { transform: translate(0px, 0px); }
}
.rustle {
  animation: rustle 0.3s;
}
@keyframes rustle {
  0% { transform: rotate(0deg); }
  30% { transform:  rotate(-1deg); }
  50% { transform:  rotate(0deg); }
  70% { transform:  rotate(1deg); }
  100% { transform:  rotate(0deg); }
}

/*-----Front page for guest----*/
#page-site-index #frontpage-available-course-list{
  text-align:left;
  .courses.frontpage-course-list-all{
    display:flex;
    flex-wrap:wrap;
    .coursebox{
      @extend .card-shadow;
      margin:1rem;
      background: #fff;
      min-width: 100px;
      max-width: 320px;
      .info{
        height:2.5rem;
        .coursename a{
          font-weight: bold;
          font-size: 1rem;
        }
      }
      .content .d-flex{
        display: block!important;
        .courseimage img{
          max-width: 100%;
          max-height: 200px;
          aspect-ratio: 2.5;
          object-fit: cover;
        }
        .flex-grow-1{
          display:flex;
          flex-direction:column;
          .summary{
            order:2;
          }
        }
        ul{
          font-size:small;
        }
        .customfield_kenaifilter1, .customfield_kenaifilter2, .customfield_kenaimandatory{
          display:none;
        } 
      }
    }
  }
}

/*-----Catalog-----*/
/*card styles that can be used on other pages*/
.catalog-cards{
  .card{
    @extend .card-shadow;
    .img-container .card-image {
      aspect-ratio:3/2;
      object-fit:cover;
    }
  }
  .gridview{
    .card-footer{
      .card-text .text-muted{
        margin-bottom:10px;
      }
    }
    .card-block{
      padding:0px;
      p.card-text.float-left{
        margin:8px 5px;
        max-width:52%;
        .text-muted{
          text-transform: uppercase;
          font-size: smaller;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          color: #ffffff !important;
        }
      }
      .float-right {
        padding-right: 5px;
        margin-top:2px;
      }
    }
    .category-rating-container {
      background: $midnight-blue;
      padding: 5px;
    }
    .course-category {
      padding-top: 5px;
      padding-left:5px;
    }
    .empty-stars {
      color: #ffffff;
    }
    .course-rating .fa.fa-star {
      color: #ffffff;
    }
    .card-title {
      padding: 10px;
    }
    .course-details .text-muted {
      color: #000000;
    }
  }
}
#page-course-index-category {
  .filter-box .select-options, #page-site-index .filter-box .select-options {
    text-wrap: wrap;
  }
  #page{
    .main-inner{
      background:transparent;
      #region-main{
        background-color:transparent;
        .filter-box .coursesearchbox #coursesearchbox, #page-site-index .filter-box .coursesearchbox #coursesearchbox {
          border: 1.5px solid $internews-blue;
          margin-right: 3px;
        }
        .filter-box.filter-toggle{
          display:none;
        }
        .cardlistCards{
          @extend .catalog-cards;
        }
      }
    }
  }
  /*popup*/
  .kenai-summary-modal .modal-body, #page-site-index .kenai-summary-modal .modal-body {
    padding-top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    img.img-responsive.my-auto{
      display:none;
    }
  }
}
.enrolmenticons{
  display:none;
}

/*Self-enrolment page*/
#page-enrol-index{
  .tool_catalogue-catalogue.course{
    .customfield_kenaifilter1, .customfield_kenaifilter2, .customfield_kenaiinfo1, .customfield_kenaimandatory{
      display:none;
    }
  }
  h3.mt-4, .alert-info{
      display:none;
    }
}

/*-----My Courses page-----*/
#page-my-index #page {
  background-color: $lightest-grey;
  .main-inner{
    background:transparent;
    .page-header{
      background:transparent;
    }
    #region-main{
      background:transparent; 
      .tool_catalogue-catalogue{
        hr{
          display:none;
        }
        .dashboard-control{
          padding-bottom: 1rem;
          border-bottom: 1px solid #dee2e6;
        }
        .dropdown button{
          background:#fff;
          margin-right: 0.2rem;
          margin-bottom: 0.2rem;
          border: 1px solid $light-grey;
          &:hover{
            background:#fff;
            color: #6a737b;
          }
        }
        .simplesearchform{
          .btn-submit{
            @extend .btn-primary;
          }
          input{
            border: 1.5px solid $internews-blue;
          }
        }
        .card{
          @extend .card-shadow;
          a.stretched-link{
            @extend .h5;
          }
        }
      }
    }
  }
}

/*-----Calendar page----*/
#page-admin-tool-custompage{
  #page{
    background-color: $lightest-grey;
    .main-inner, #region-main{
      background:transparent;
      .maincalendar .calendarmonth .clickable:hover {
        background-color: #DCE3F4;
      }
    }
  }
}

/*-----Course overview page-----*/
#page-course-view-topics{
  /*Course editing menu disable for learners*/
  &:not(.editing) .secondary-navigation{
    display:none;
  }
  /*remove activity icons and labels*/
  .activity-item .activity-instance .activitytitle {
    a{
      font-size:1rem;
    }
   .activityiconcontainer, .text-uppercase{
      display:none;
    } 
  }
  /*hidden sections*/
  .course-section.hidden{
    background: $lightest-grey;
    border: 2px solid $yellow;
    .sectionname, .course-section.hidden .icons-collapse-expand{
      color:grey;
    }
    &:last-child:not(.section-summary){
      border-bottom: 2px solid #f0ad4e;
    }
  } 
  .course-banner-image{
    width:100%;
    height:auto;
  }
  .course-banner-completion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top: 1.5rem;
    p{
      margin-bottom: 0.2rem;
    }
  }
  .progress{
    margin-bottom:2.3rem;
    .progress-bar{
      background-color: $light-blue;
    }
  }
}

/*-----Community page overview (ie card format)-----*/
#page-course-view-cards{
  /*Course editing menu disable for learners*/
  &:not(.editing) .secondary-navigation{
    display:none;
  }
  /*hide main header*/
  .page-context-header{
    display:none;
  }
  h3.sectionname{
    @extend .h2;
  }
  /*full width*/
  ul.cards{
    padding-left:0;
  }
  /*remove activity icons and labels*/
  .activity-item .activity-instance .activitytitle {
    a{
      font-size:1rem;
    }
   .activityiconcontainer, .text-uppercase{
      display:none;
    } 
  }
}

/*-----Activities general-----*/
/*extra header*/
#page-mod-page-view, #page-mod-feedback-view, #page-mod-appointment-view, #page-mod-assignment-view, #page-mod-book-view, #page-mod-chat-view, #page-mod-choice-view, #page-mod-database-view, #page-mod-forum-viewr, #page-mod-glossary-view, #page-mod-coursecertificate-view, #page-mod-scorm-view, #page-mod-feedback-complete, #page-mod-lesson-view, #page-mod-feedback-complete, #page-mod-quiz-view, #page-mod-quiz-attempt, #page-mod-quiz-summary, #page-mod-quiz-review, #page-mod-resource-view, #page-mod-forum-view, #page-mod-forum-discuss, #page-mod-data-view, #page-mod-wiki-view, #page-mod-wiki-history, #page-mod-wiki-create, #page-mod-wiki-edit, #page-mod-wiki-comments, #page-mod-wiki-map, #page-mod-wiki-files, #page-mod-wiki-diff, #page-mod-questionnaire-complete, #page-mod-questionnaire-view, #page-mod-questionnaire-myreport, #page-mod-questionnaire-report, #page-mod-assign-view, #page-mod-assign-editsubmission, #page-mod-assign-grading, #page-mod-assign-removesubmissionconfirm, #page-mod-url-view {
  .page-context-header{
    display: none;
  }
}
/*not all activities included above; will need adding*/
.path-mod .activity-header:not(:empty){
  background-color:transparent;
}

/*complete button*/
.activity-header .completion-info button[data-toggletype="manual:mark-done"]{
  width: 70px;
  height: auto;
  white-space: normal!important;
  position: fixed;
  right: 1.2%;
  bottom: 25%;
}

/*navigation buttons*/
#navbuttons{
  .togglecompletion{
    .custom_activity_completion{
      width:48px;
      height:auto;
      background-color:transparent;
    }
  }
}

.modified {display: none;}


/*----Page---*/
#page-mod-page-mod{
  /*hide description box*/
  #id_generalcontainer{
    #fitem_id_introeditor, .checkbox{
      display:none;
    }
  }
}
#page-mod-page-view{
  [role="main"] ul li{
    margin-bottom:0.5rem;
  }
}


/*----File----*/
#page-mod-resource-view{
  @extend .limitedwidth;
  .resourcecontent{
    border: 1px solid grey;
  }
}


/*----Forum----*/
/*class variable*/
.btn-reply{
  padding: 0.3rem;
  border-radius: 4px;
  background: #DCE3F4;
  margin-bottom:0.3rem;
}
#page-mod-forum-view{
  .body-content-container .content-alignment-container{
    overflow: unset;
    .link.text-right{
      a{
        @extend .btn-reply;
      }
    }
  }
  [title="Reply"]{
    @extend .btn-reply;
  }
  /*In single simple, don't have many layers of nesting*/
  &.forumtype-single [data-region="replies-container"]{
    border-left: 3px solid black;
    [title="Reply"]{
      display:none;
    }
  }
  /*blog format*/
  &.forumtype-blog{
    [role="main"]{
      .container-fluid.tertiary-navigation, [data-gradable-itemtype="forum"]{
        background: $light-grey;
        padding: 1rem;
      }
      .container-fluid.tertiary-navigation{
        padding-bottom:0;
        border-radius: .5rem .5rem 0 0;
        .row{
          padding-left:0.5rem;
          padding-right:0.5rem;
        }
      }
      [data-gradable-itemtype="forum"]{
        padding-top:0;
        border-radius: 0 0 .5rem .5rem;
        margin-bottom:1rem;
      }
      .forum-post-container{
        background:#fff;
        .forumpost{
          header .mb-3{
            font-size:x-small;
          }
          .post-actions-container a{
            font-size:small;
          }
        }
      }
    }
  }
}
#page-mod-forum-discuss{
  .forumpost{
    &.unread{
      header.header{
        background-color:transparent;
        &::after{
          content:"NEW";
          background:$yellow;
          color:$midnight-blue;
          margin-left: 4rem;
          padding: 0.2rem 1rem;
          height: 1.5rem;
          font-size: 0.75rem;
          border-radius: 30px;
        }
      }
    }
  }
}


/*----SCORM----*/
#page-mod-scorm-player{
  overflow-y:hidden;
  #scormpage{
    #tocbox #scorm_layout{
      border: solid #ececec;
    }
    #scorm_object {
      width: 100%;
      height: 100%;
    }
  } 
  .btn-secondary[title="Exit activity"]{
    background: #ffffff;
    border-color: #b2bce0;
    border-width: 2px;
  } 
  .drawer.drawer-left,  .header-maxwidth, .secondary-navigation, .navbar.fixed-top, #page-wrapper #page-footer, .modal-backdrop.show, .drawer-toggler, h2 { display: none;}
  #page.drawers.show-drawer-left {margin-left: 0px;}
  #page.drawers {height: auto !important;}
  #page {margin-top: 0px !important; padding: 5px;}
  #page.drawers {padding: 0px;}
  #page.drawers .main-inner {padding:0px; margin-top:0px; margin-bottom: 0px}
  #region-main-box {margin-top: 5px}
  #scorm_layout {height: 80vh !important; margin-bottom: 20px}
  .pb-3, .py-3 {padding-bottom: 0px !important}
  .mt-5, .my-5 { margin-top: 0px !important; margin-bottom: 0px !important}
}


/*----Quiz----*/
#page-mod-quiz-attempt, #page-mod-quiz-review{
  #mod_quiz_navblock{
    background-color:transparent;
    border:none;
    .endtestlink,{
      @extend .btn;
      @extend .btn-primary;
    }
  }
  .mod_quiz-next-nav{
    @extend .btn;
    @extend .btn-primary;
    margin-right: 5px;
  }
  .que{
    .answer .specificfeedback{
      background-color: $lightest-blue;
      padding: 0.7em;
    }
    .outcome, .comment{
      color: #132E4D;
      background-color: $lightest-blue;
      border-color: $lightest-blue;
      &::before{
        @extend .fa;
        content: "\f05a"
      }
    }
    border-top: 1px solid #dee2e6;
    .info{
      border:none;
      .state, .grade, .questionflag{
        display: none;
      }
    }
    .formulation{
      background-color:transparent;
      border:none;
    }
  }
  table.quizreviewsummary {
    th.cell, td, tr:nth-of-type(odd){
      background-color:transparent;
      border-top:none;
    }
    tr:nth-of-type(odd):hover{
        background-color: rgba(0,0,0,.075);
    }
  }
}
#page-mod-quiz-summary{
  .generaltable{
    th, td{
      border-top:none;
    }
    tbody tr:nth-of-type(odd){
      background-color:transparent;
    }
  }
}
#page-question-type-multichoice{
  #id_combinedfeedbackhdrcontainer .tox-tinymce{
    min-height:200px;
  }
}


/*----Appointment----*/
#page-mod-appointment-view{
  .generaltable{
    thead{
      td, th{
        border:none;
      }
    }
    tbody{
      tr{
        border:none;
        &:nth-of-type(odd){
          background:transparent;
          border:none;
        }
        &:hover{
          background:transparent;
        }
        td{
          border:none;
        }
      }
    }
  }
}


/*----Database*/
#page-mod-data-view{
  /*hide alert about number of entries*/
  .alert-dismissible{
    display:none;
  }
  [role="main"]{
    >hr{
      display:none;
    }
  }
  .datapreferences{
    >hr{
      display:none;
    }
    form#options{
      background:$lightest-grey;
      padding:1rem;
    }
  }
}

/*----Wiki----*/
#page-mod-wiki-view{
  .wiki_headingtitle{
    border: 1.5px solid $lightest-blue;
    border-bottom:none;
    padding:1rem;
    padding-bottom:0;
    margin-right:1rem;
    h3{
      margin-bottom:0;
    }
  }
  .generalbox{
    border: 1.5px solid $lightest-blue;
    border-top:none;
    padding:1rem;
    padding-top:0;
    padding-bottom:2rem;
    margin-right:1rem;
  }
}
#page-mod-wiki-edit{
  .wiki_headingtitle{
    color:$light-blue;
  }
}


/*----Questionnaire----*/
#page-mod-questionnaire-complete, #page-mod-questionnaire-myreport, #page-mod-questionnaire-report{
  .surveyTitle{
    display:none;
  }
  .generalbox{
    fieldset.qn-container{
      .qn-info{
        background:transparent;
        padding:0;
      }
      .qn-content{
        margin-left:0;
        .qn-question{
          background-color:transparent;
          margin-bottom:0;
        }
        .qn-answer{
          margin-bottom:2.5rem;
        }
      }
    }
  }
}
#page-mod-questionnaire-myreport{
  .generalbox{
    h2{
      @extend .h4;
      margin-bottom:1rem;
    }
    .respondentinfo{
      padding: 0.5rem;
      background: $lightest-blue;
      font-size: 80%;
      border-radius: 100px;
      display: inline-block;
      margin-bottom: 2rem;
    }
    .qn-answer{
      border: 1.5px solid $light-blue;
      padding: 0.5rem;
    }
  }
}
#page-mod-questionnaire-questions{
  #id_questionhdrcontainer{
    fieldset{
      /*hide certain question types*/
      select option{
        &[value="100"], &[value="8"], &[value="11"], &[value="2"], &[value="1"], &[value="99"]{
          display:none;
        }
      }
    }
  }
}
#page-mod-questionnaire-report{
  .generalbox{
    margin-top:2rem;
  }
  .qn-container{
    margin-top:3.5rem;
    .qn-info{
      background:transparent;
    }
    .qn-question{
      background-color:transparent;
    }
    table.generaltable{
      tbody tr:nth-of-type(odd) {
        background-color: transparent;
        &.lastrow{
          background: $lightest-grey;
        }
      }
      td, th{
        border-top:none;
      }
      tr.lastrow{
        background: $lightest-grey;
      }
      tr:hover{
        background-color:transparent;
      }
    }
  }
}


/*----Choice----*/
#page-mod-choice-view{
  .completion-info{
    border-bottom:none;
  }
}

#page-mod-url-view{
  .completion-info{
    border-bottom:none;
  }
  [role="main"]{
    margin-left:1rem;
    a{
      text-decoration: underline;
    }
  }  
}


/*----TBD----*/
/*resume button*/
.btn-info{
  background: #132e4d;
}
.btn-info:hover, .btn-info:focus{
  background: #0d5cab;
  color:white; 
}
[id="page-h5p-embed"] {
  overflow: hidden;
}
