/*Login*/
h2.login-heading:not(#new-account){
  display:none;
}
.login-divider{
  display:none;
}

.login-form{
  margin-bottom: 2.5rem;
}

.login-instructions{
  /*border-top: 1px solid #dee2e6;*/
  padding-top:1rem;
  #staff-login{
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom:1rem;
  }
}

#loginbtn{
  font-size: calc(0.90375rem + 0.045vw);
}
.login-signup{
  margin-bottom:3rem;
  a.btn{
    @extend .btn-primary;
  }
}

.login-identityproviders{
  .login-identityprovider-btn{
    @extend .btn-primary;
    &::before{
      @extend .fa;
      content: "\f17a";
      font-size: 1.2rem;
      margin-right: 10px;
    }
    img{
      display:none;
    }
  }
}

/*hide other tenant components*/
.ejn-home, .staff-home, .lpc-home, #mandatory{
  display:none;
}
/*hide mobile page list item except for admins*/
#page-site-index:not(.editing){
  li.activity-wrapper.modtype_page{
    display:none;
  }
}

/*custom catalog styling*/
#page-course-index-category{
  .search-filters{
    form{
      .row{
        /*category*/
        .filter-categoryid{
          display:none;
        }
        /*sub-category*/
        .filter-kenaifilter1{
          order:2;
        }
        /*types/audience/tbd*/
        .filter-kenaifilter2{
          order:2;
        }
        /*language*/
        .filter-kenaifilter3{
          order:1;
        }
        /*sort*/
        .filter-sort{
          order:4;
        }
        /*search*/
        .filter-search{
          order:5;
        }
        /*buttons to choose grid or list*/
        .filter-toggle{
          order:6;
        }
      }
    }
  }
}

/*box that shows shareable link to send to externals*/
.shareable-link{
  display:none;
}
